<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h3 style="margin-left: 15px; margin-bottom: 20px">Вы авторизованы в системе. Ваши данные:<br>
        {% if request.user.first_name %} 
            - <i>имя</i>: {{ request.user.first_name }};<br>
        {% endif %}
        {% if request.user.last_name %}
            - <i>фамилия</i>: {{ request.user.last_name }};<br>
            {% endif %}
        - <i>логин</i>: {{ request.user.username }};<br>
        - <i>e-mail</i>: {{ request.user.email }};<br>
        - <i>права автора</i>:
            {% if is_author %}
                есть;<br>
                {% else %}
                отсутствуют;<br>
                {% endif %}
                </h3>
    <a href="{% url 'main_page' %}" style="margin-left: 15px; font-size: larger">Перейти на главную страницу</a>
        <form action="{% url 'logout' %}" method="post" style="margin-left: 15px">
            {% csrf_token %}
            <input type="submit" value="Выйти">
        </form>
    {% else %}
            <h3 style="margin-left: 15px">Вы не авторизованы в системе.<br>
                Пройти авторизацию необходимо <a href="{% url 'account_login' %}">здесь</a></h3>
{% endif %}
</body>
</html>