.env
.idea/

lsma/venv

lsma/logs/bot.log
lsma/logs/error.log
lsma/logs/general.log

lsma/__pycache__/
lsma/app/__pycache__/
lsma/app/user/__pycache__/

lsma/app/__init__.py
lsma/app/database/__init__.py
lsma/app/user/__init__.py

lsma/app/calendar.py
lsma/app/administrator/

lsma/app/administrator/admin_queries.py
lsma/app/administrator/keyboards.py
lsma/app/database/models.py
lsma/app/schedule.py
lsma/app/pagination.py

Baga/migrations
Baga/app/database/__init__.py
Baga/app/__init__.py
Baga/logs/bot.log
Baga/logs/error.log
Baga/logs/general.log